.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, .25);
    ;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, .05);
    z-index: 999;


    transition: 0.4s;
    backdrop-filter: blur(10px);
}

.header.on {
    background: #f1eae0;
    border-bottom: 1px solid #ddd;

}

.header:hover {
    background: #fff;
    border-bottom: 1px solid #ddd;

}

.header .hd_wrap {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1410px;
    height: 80px;
}


.header.on .hd_wrap {
    height: 80px;

}

.header .hd_wrap h1 img {
    height: 40px;
    transform: translate(80%, 0);
}

.header .hd_wrap h1 a {
    display: block;
    width: 240px;
    height: 80px;
    background: url(../images/logo_white.png) no-repeat center center/80px;
}

.header.on .hd_wrap h1 a {
    background: url(../images/logo.png) no-repeat center center/80px;
}

.header:hover .hd_wrap h1 a {
    background: url(../images/logo.png) no-repeat center center/80px;
}




.header h1 img {
    height: 32px;
}

.header .gnb {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.header .gnb>ul {
    display: flex;
    gap: 56px;
}

.header .gnb>ul>li {
    position: relative;
}

.header .gnb>ul>li>a {
    display: block;
    line-height: 120px;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    font-family: "Noto Serif KR", serif;
    word-spacing: nowrap;
}

.header.on .gnb>ul>li>a {
    color: #333;
}

.header:hover .gnb>ul>li>a {
    color: #333;
}




.header .gnb>ul>li ul {
    position: absolute;
    top: 80px;
    left: 50%;
    z-index: 2;

    transform: translate(-50%, 40px);
    opacity: 0;
    visibility: hidden;

    width: 120px;
    background: #fff;

    border-top: 1px solid #54524c;
    transition: 0.5s;
}

.header .gnb>ul>li:hover ul {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 0);
}

.header .gnb>ul>li ul a {
    display: block;
    color: #54524c;
    line-height: 40px;
    text-align: center;
}

.header .gnb>ul>li ul>li~li a {
    border-top: 1px solid #ddd;
}

.header .utils {
    display: flex;
    gap: 16px;
    margin-left: 80px;
    color: #fff;
    font-size: 16px;
    font-family: "Noto Serif KR", serif;
}

.header:hover .utils {
    color: #333;
}

.header.on .utils {
    color: #333;
}

.header .utils a {
    position: relative;

}

.header .utils a.on::after {
    content: "";

    position: absolute;
    bottom: -8px;
    left: 0;
    right: 0;
    height: 1px;
    background: #fff;

}

.header:hover .utils a.on::after {
    background: #333;
}

.header.on .utils a.on::after {
    background: #333;
}

.main_visual {
    position: relative;
}

.main_visual .itm {
    position: relative;
    height: 100vh;
    background: url(../images/main_visual01.jpg) no-repeat center center/cover;
}

.main_visual .txt {
    position: absolute;
    bottom: 120px;
    left: 50%;
    transform: translate(-50%, -50%);

    max-width: 1170px;
    width: 100%;
}

.main_visual .txt strong {
    display: block;
    font-size: 32px;
    font-weight: 400;
    color: #54524c;
    line-height: 40px;


}

.main_visual .txt p {
    margin-top: 24px;
    font-size: 18px;
    font-weight: 300;
    color: #54524c;
}

.main_visual .wheel {
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translate(-50%, 0);

    height: 60px;

    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
}

.main_visual .wheel::before {
    content: "";
    position: absolute;
    top: 24px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 32px;
    height: 48px;
    border: 2px solid #fff;
    border-radius: 16px;
}

.main_visual .wheel::after {
    content: "";
    position: absolute;
    top: 32px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 2px;
    height: 8px;
    background: #fff;

    animation: wheel 1s infinite;
}

@keyframes wheel {
    0% {
        transform: translate(-50%, 0);
    }

    100% {
        transform: translate(-50%, 4px);
    }
}

.main_best {
    background: url(../images/background.jpg);
}

.main_best .title h2 {
    margin-bottom: 120px;
    font-family: "Noto Serif KR", serif;
}


.main_best .title p {
    position: relative;
    margin-top: 72px;

}

.main_best .title p::before {
    content: "";
    position: absolute;
    bottom: 80%;
    left: 50%;
    height: 64px;
    width: 1px;
    background: #333;
    transform: translate(0, -50%);
}

.main_best .inner {
    display: flex;
    gap: 30px;

}

.main_best .inner>* {
    flex: 1;
}

.main_best .inner .itm img {
    width: 100%;
    margin-top: 48px;
    background: #f9f9f9;
}

.main_best .inner .itm p {
    margin-top: 16px;
    font-size: 17px;
    text-align: center;

}

.main_best .inner .itm span {
    display: block;
    margin-top: 8px;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
}

.main_banner {
    background: url(../images/main_banner01.jpg) no-repeat center center/cover;
    background-attachment: fixed;
}

.main_banner .title {
    margin-bottom: 0;
}

.main_banner .title h2 {
    font-size: 24px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    font-family: "Noto Serif KR", serif;
}

.main_product {
    background: url(../images/background.jpg);
}

.main_product h2 {
    font-family: "Noto Serif KR", serif;
}


.main_product .tab_menu {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;

}

.main_product .tab_menu button {
    position: relative;
    height: 40px;
    padding: 0 16px;
    border-bottom: 1px solid #ddd;

}

.main_product .tab_menu button.on {
    color: #333;
}

.main_product .tab_menu button::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 0;
    height: 1px;
    background: #333;
    transition: 0.5s;

}

.main_product .tab_menu button.on::after {
    width: 100%;

}

.main_product .tab_content .con {
    display: flex;
    gap: 30px;
    visibility: hidden;
    height: 0;
    overflow: hidden;
}

.main_product .tab_content .con.on {
    visibility: visible;
    height: auto;
}

.main_product .tab_content .con>* {
    flex: 1;
}

.main_product .tab_content .con img {
    background: #fff;
}

.main_product .tab_content .con p {
    margin-top: 16px;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    color: #54524c;
}

.main_content {
    position: relative;
    background: #fff;
}

.main_content h2 {
    font-family: "Noto Serif KR", serif;
}

.main_content .inner {
    overflow: hidden;
}

.main_content .main_content_slide {
    margin: 0 -15px;
}

.main_content .itm {
    margin: 0 15px;
}

.main_content .itm img {
    background: url(../images/background.jpg);
}


.main_content .itm p {
    margin-top: 16px;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    color: #54524c;
    word-break: keep-all;
}

.main_content .arrows {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    max-width: 1410px;
    width: 100%;
}

.main_content .arrows button {
    position: absolute;

    width: 40px;
    height: 40px;
    background: #333;
    border-radius: 50%;
}

.main_content .arrows .prev {
    left: 0;
}

.main_content .arrows .next {
    right: 0;
}

.main_content .slick-dots {
    display: flex;
    gap: 8px;
    margin-top: 48px;
    justify-content: center;
}

.main_content .slick-dots li button {
    background: #d4a373;
    color: #fff;
    width: 16px;
    height: 16px;

    font-size: 14px;
    border-radius: 50%;
}

.main_content .slick-dots li.slick-active button {
    background: #333;
}

.main_sns {
    background: url(../images/background.jpg)
}

.main_sns .inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    width: 1170px;
    margin: 0 auto;
}




.footer {
    padding: 80px 0;
    background: #fff
}

.footer .sns {
    display: flex;
    justify-content: center;
}

.footer .customer {
    display: flex;
    gap: 40px;
    justify-content: center;

    margin-top: 24px;
}

.footer .customer li {
    position: relative;
}

.footer .customer li~li::before {
    content: "";
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translate(0, -50%);
    width: 1px;
    height: 0.5em;
    background: #aaa;

}



.footer .customer a {
    color: #333;
}

.footer p {
    margin-top: 24px;
    color: #333;
    text-align: center;

    font-size: 14px;
    line-height: 16px;
}

.footer address {
    margin-top: 24px;
    color: #333;
    text-align: center;

    font-size: 14px;
    line-height: 16px;
}

.to_top {
    position: fixed;
    bottom: 200px;
    right: 120px;
}

.to_top button {
    width: 40px;
    height: 40px;
    background: #333;
    border-radius: 50%;
}